body {
  background: #000033;
}

div.container {
  width: 100%;
}

.box {
  margin: 30px;
  background: #aaaaff;
  border-radius: 10px;
  width: 10vw;
  transition: 0.5s;
}

.box:nth-child(odd) {
  margin-right: 100px;
}
.box:nth-child(even) {
  margin-left: 100px;
}

.box:hover {
  width: 20vw;
  background: #ddffff;
}

footer {
  color: #ffffff;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
}

.label {
  display: none;
  transition: 0.5s;
}

.label_show {
  display: block;
}

