body {
  background: #000033;
}

div.container {
  width: 100%;
}

.box {
  margin: 30px;
  padding: 5px;
  background: #253f75;
  border-radius: 10px;
  width: 100px;
  transition: 0.5s;
  position: relative;
}

.box:nth-child(odd) {
  margin-left: 150px;
}
.box:nth-child(even) {
  margin-right: 150px;
}

.box:hover {
  width: 150px;
  background: #93e3ff;
}

footer {
  color: #ffffff;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
}

.label {
  font-family: 'Oxygen Mono', monospace;
  position: absolute;
  top: 0px;
  left: 100px;
  border: 2px solid #ffdddd;
  border-radius: 5px;
  background: #ecf2ff;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  transform: 0.5s;
}

.label_show {
  opacity: 1;
}

.twitter {
  top: 90px;
}

.github {
  top: 240px;
}

.wordpress {
  top: 380px;
  left: 250px;
}

.amazon {
  top: 530px;
  left: 70px;
}

